			<p>
				<small>
				<?php
				echo $this->Paginator->counter(
					array(
						'format' => __('Page {:page} of {:pages}, {:current} records out of {:count} total')
					)
				);
				?>
				</small>
			</p>

			<?php
			$params = $this->Paginator->params();
			if ($params['pageCount'] > 1) {
			?>
			<ul class="pagination pagination-sm">
				<?php
					echo $this->Paginator->prev(
						'&larr; Previous',
						array('class' => 'prev','tag' => 'li','escape' => false),
						'<a onclick="return false;">&larr; Previous</a>',
						array('class' => 'prev disabled','tag' => 'li','escape' => false)
					);
					echo $this->Paginator->numbers(
						array('separator' => '','tag' => 'li','currentClass' => 'active','currentTag' => 'a')
					);
					echo $this->Paginator->next(
						'Next &rarr;',
						array('class' => 'next','tag' => 'li','escape' => false),
						'<a onclick="return false;">Next &rarr;</a>',
						array('class' => 'next disabled','tag' => 'li','escape' => false)
					);
				?>
			</ul>
			<?php } ?>
